img {
    animation:gilad;
    animation-duration:2s;
    animation-iteration-count:infinite;
}

    img:hover {
        transform: rotate(0);
    }
@keyframes gilad {
    0% {
        transform: rotate(00deg);
    }

    25% {
        transform: rotate(360deg);
    }

    50%{
        transform:rotateY(360deg);
    }
    75%{
        transform:rotateY(-360deg);
    }
    80%{
        transform:rotateX(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
h1{
    text-align:center;
}
